<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ball.boss.dao.ext.KickLogMapper">

    <select id="countKickOut" resultType="java.lang.Integer">
        select count(id) from boss_kick_out_log
        where user_id = #{userId}
        and create_time &gt;= #{kickTime}
    </select>

    <update id="lockUser">
        update boss_user_info set locked = '1'
        where user_id = #{userId}
    </update>
</mapper>
